<div class="item">
    <a href="/More?imagem=<%= imagem %>&nome=<%= nome %>&valor=<%= valor %>&categoria=<%= categoria %>&tipo=<%= tipo %>&descricao=<%= descricao %>&anunciante=<%= anunciante %>&telefone=<%= telefone %>&cidade=<%= cidade %>&UF=<%= UF %>">
      <img src="https://api-centraldosom.onrender.com/imagens/<%= imagem%>" alt="">

    </a>
    <p><%=nome%></p>
    <h5>R$<%=valor%></h5>
    <h3><%=tipo%></h3>
</div>

  